<div class="container">
    <div class="row" >
            <div  class="col-md-4" style="margin-bottom: 20px;" appHighlightDirective>
            <!-- <div *ngIf="!title || category.title.toLowerCase().includes(title.toLowerCase())" class="col-md-4" style="margin-bottom: 20px;"> -->
                <h3>{{propertyById.title}}</h3>
                <p>Adress : {{propertyById.address}}</p>
                <p>Price : {{propertyById.price}}</p>
                <p>Surface : {{propertyById.surface}}</p>
                <p>Type : {{propertyById.type}}</p>
            </div>
    </div>
</div>